@media screen and (max-width: 992px) {
  header ul {
    display: none;
  }

  header #hamburger-menu {
    display: block;
    grid-column: 13 / span 1;
    display: flex;
  }

  header #hamburger-menu:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  main .hero-section,
  aside,
  .news-item {
    grid-column: span 12;
    padding-right: 0;
  }
  aside {
    margin-top: 2rem;
  }
  .news-item img {
    height: 90%;
  }
}

@media screen and (max-width: 780px) {
  main .hero-section .hero-text {
    grid-template-columns: 1fr;
  }

  main .hero-section .hero-text h1 {
    font-size: 2.8rem;
  }
}
